<%= stylesheet_link_tag 'chemical_substances.css.scss'%>
<%= javascript_include_tag 'jquery-1.10.2.js'%>
<%= javascript_include_tag 'jquery-ui.js' %>
<%= stylesheet_link_tag 'jquery-ui.css'%>
<%= javascript_include_tag 'tabs.js' %>
<%= javascript_include_tag 'bootstrap-datepicker.js' %>
<%= javascript_include_tag 'bootstrap-datepicker.es.js' %>

<div class="row">

<ol class="breadcrumb">
    <li> <%=link_to 'Inicio', controller: 'statics'%></li>
    <li> <%=link_to 'Inventario', inventario_url %></li>
    <li> <%=link_to 'Equipos y mobiliarios', equipment_index_path %></li>
    <li class="active"> Editar </li>
</ol>

<div class="col-xs-12">
  <div class="col-xs-6 text-left">
    <h1>Editar Equipo</h1>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to equipment_index_path do %>
    <button type="button" class="btn btn-primary"><span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Volver</button>
    <br><br>
  <% end %>
  </div>
</div>
<br><br>

<div id = "table2">
</div>

<br>

<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div class="col-xs-12" role="alert">
      <div class="alert alert-danger">
        <ul>
          <% @equipment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div id="tabs">
    <ul>
      <li><a href="#tabs-1" class="show">Características</a></li>
      <li><a href="#tabs-2" class="hidex">Ubicación</a></li>
      <li><a href="#tabs-3" class="hidex">Datos de Adquisición</a></li>
    </ul>



    <div id="tabs-1">
      <div class="form-group">
        <table class="table table-striped">

          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre</strong>
            <span class="red">*</span></td>
            <td class="col-xs-7"> <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Marca</strong></td>
            <td class="col-xs-7"> <%= f.text_field :brand %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Modelo</strong></td>
            <td class="col-xs-7"><%= f.text_field :model  %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Serial</strong></td>
            <td class="col-xs-7"><%= f.text_field(:serial) %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Número de Bien Nacional</strong></td>
            <td class="col-xs-7">  <%= f.number_field(:national_good, min: 0) %></td>
          </tr>
     
            <tr>
            <td class="col-xs-5 text-right"><strong>Estado</strong></td>
            <td class="col-xs-7"> <%= f.select(:status, [['Operativo'], ['Inoperativo Temporalmente'], ['En Desuso'] ] ) %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Calibrado</strong></td>
            <td class="col-xs-7"><%= f.select(:calibrated, [['N/A'],['Sí'], ['No'], ['Desconocido'] ])  %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Última Calibración</strong></td>
            <td class="col-xs-7"> <%= f.text_field :last_calibration, :class => "bootlayout-date" %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Dimensiones</strong></td>
            <td class="col-xs-7">
            <strong>Ancho&nbsp&nbsp</strong>
            <%= f.text_field(:length, min: 0, :step => 'any') %>
            <%= f.select(:measurelength, [['m'], ['cm'], ['mm'], ['in']] ) %><br><br>
            <strong>Largo&nbsp&nbsp&nbsp </strong>
             <%= f.text_field(:width, min: 0, :step => 'any') %>
            <%= f.select(:measurewidth, [['m'], ['cm'], ['mm'], ['in']] ) %><br><br>
            <strong>Alto&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>
            <%= f.text_field(:depth, min: 0, :step => 'any') %>
            <%= f.select(:measuredepth, [['m'], ['cm'], ['mm'], ['in']] ) %>
            </td>
          </tr>

         <tr>
            <td class="col-xs-5 text-right"><strong><%= 'Uso'%></td>
              <td class="col-xs-7">
           <%= f.check_box :investigation %>
            <%= 'Investigación' %><br>
            <%= f.check_box :teaching %>
            <%= 'Docencia' %><br>
            <%= f.check_box :extention %>
            <%= 'Extensión' %><br>
            <%= f.check_box :management %>
            <%= 'Apoyo administrativo' %> </td>
          </tr><br>

        </table>
      </div>
    </div>

    <div id="tabs-2">
      <div class="form-group">
        <table class="table table-striped">

        <tr>
          <td class="col-xs-5 text-right"><strong>Responsable</strong>
          <span class="red">*</span></td>
          <td class="col-xs-7"><%= f.text_field :responsible %>
      </td>
      </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Correo de Responsable</strong><span class="red">*</span></td>
              <td class="col-xs-7"><%= f.text_field :correo %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Dependencia</strong>
            <span class="red">*</span></td>
            <td class="col-xs-7"><%= f.text_field :dependency %>
            </td>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación Física</strong>
            <span class="red">*</span></td>
            <td class="col-xs-7"><%= f.text_field :location %>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <div id="tabs-3">
      <div class="form-group">
        <table class="table table-striped">

            <td class="col-xs-5 text-right"><strong>Origen</strong></td>
            <td class="col-xs-7" ><%= f.select(:origen, options_for_select([['Comprado'],['Donado']]), {:include_blank => true, :default => :blank}, {:onchange => "changeOrigen();"} ) %>
            </td>
          </tr>
          <tr class="hidden_option1">
            <td class="hidden_option1 col-xs-5 text-right"><strong>Factura</strong></td>
            <td class= "hidden_option1 col-xs-7" ><%= f.text_field :bill %></td>
          </tr>



          <tr class="hidden_option1">
          
            <td class="hidden_option1 col-xs-5 text-right"><strong>Costo</strong></td>
              <td class="hidden_option1 col-xs-7" >
                <div class="input-group">
                  <span class="input-group-addon">Bs.</span>
                  <%= f.text_field :cost, :onblur => "setCost();", placeholder: '0.000,00'%>
                </div>
              </td> 

          <tr class="hidden_option1">
            <td class="hidden_option1 col-xs-5 text-right"><strong>Orden de Compra</strong></td>
            <td class="hidden_option1 col-xs-7" ><%= f.text_field :buy_order %></td>

          <tr class="hidden_option1">
            <td class=" hidden_option1 col-xs-5 text-right"><strong>Fecha Adquisición</strong></td>
            <td class="hidden_option1 col-xs-7" ><%= f.text_field :adquisition_date, class: "bootlayout-date" %></td>
          </tr>

                  <tr class="hidden_option2">
            <td class="hidden_option2 col-xs-5 text-right"><strong>Numero de Donación</strong></td>
            <td class="hidden_option2 col-xs-7 text-left"><%= f.number_field :numDonacion %></td>
            </tr>

            <tr class="hidden_option2">
            <td class="hidden_option2 col-xs-5 text-right"><strong>Fecha de Donación</strong></td>
            <td class="hidden_option2 col-xs-7 text-left"><%= f.text_field :fechaDonacion, class: "bootlayout-date" %></td>
            </tr>

              <tr class="hidden_option2">
            <td class="hidden_option2 col-xs-5 text-right"><strong> Persona Juridica</strong></td>
            <td class="hidden_option2 col-xs-7 text-left"><%= f.text_field :pJDonacion %></td>
            </tr>

              <tr class="hidden_option2">
            <td class="hidden_option2 col-xs-5 text-right"><strong> Persona de Contacto</strong></td>
            <td class="hidden_option2 col-xs-7 text-left"><%= f.text_field :personaContactoDonacion %></td>
            </tr>

        </table>
      </div>
  </div>

</div>
<br><br>



<div class="col-xs-12 text-center">
  <div class="actions">
    <button type="submit" class="btn btn-default btn-success"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Actualizar</button>
  </div>
</div>
<% end %>
        <br><br>
</div>

<style>

#LeDivEquipos {
    background-image        : url('/assets/equipment2.png');
    background-size         : 230px;  
    background-repeat       : no-repeat; 
    background-position     : bottom right;  
    background-color        : #FFFFFF;
}

.red {
    font-size               : 22px;
    color                   : red;
}

.Informacion {
    line-height             :1.6em;
}

.linkButton { 
   text-decoration: none;
   text-align: right;
   color: #384157;
   font-weight: bold;
     background: none repeat scroll 0px 0px transparent;
     border: none;
}

.linkButton:hover {
    cursor: pointer;
    color: #8ED6FF;
    text-align: right;
    background: none repeat scroll 0% 0% #FFF;
    text-decoration: none;
}

.linkButton:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.hidden_option1{
  display: none;
}

.hidden_option2{
  display: none;
}

</style>

  <script type="text/javascript">
  //<![CDATA[

  if( window.localStorage )
  {
    if( !localStorage.getItem( 'firstLoad' ) )
    {
      localStorage[ 'firstLoad' ] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem( 'firstLoad' );
  }


function changeOrigen() {

  if ($('#equipment_origen').val()== "Comprado") {
    $(".hidden_option1").fadeIn('fast');
  } else {
    $(".hidden_option1").fadeOut('fast');   
  }
 
  if ($('#equipment_origen').val()== "Donado") {
    $(".hidden_option2").fadeIn('fast');
  } else {
    $(".hidden_option2").fadeOut('fast');   
  }

}
  //]]>

  function setCost() {
  if (!isNaN(parseFloat($('#equipment_cost').val()))) {
    $('#equipment_cost').val(formatAmount($('#equipment_cost').val()));
  }   
}

function formatAmount(n){
  if (n.toString().indexOf(",") == -1) {
    n = n.concat(",00");
  } 
  if (n.toString().indexOf(",") == n.toString().length-2) {
    n = n.concat("0");
  }   
  return addPeriods(n);
}

function formatAmountI(n){
  if (n.toString().indexOf(",") == n.toString().length-2) {
    n = n.concat("0");
  }   
  return addPeriodsI(n);
}

function addPeriods(n){
    var rx=  /(\d+)(\d{3})/;
  var split = String(n).split(',');
  var integer = split[0];
  var decimals = split[1];
    return integer.replace(/^\d+/, function(w){
        while(rx.test(w)){
            w= w.replace(rx, '$1.$2');
        }
      return w;
    }).concat(",".concat(decimals));
}

function addPeriodsI(n){
    var rx=  /(\d+)(\d{3})/;
  var split = String(n).split(',');
  var integer = split[0];
  var decimals = split[1];
    return integer.replace(/^\d+/, function(w){
        while(rx.test(w)){
            w= w.replace(rx, '$1.$2');
        }
      return w;
    });
}
  </script>