<!DOCTYPE html>
<html>
  <body>
    <h1>Solicitud de Préstamo</h1>
    <p>
      Se le ha realizado un préstamo para el siguiente ítem:<br><br>
    </p>
    
    <table class="table table-striped">
      <% @sustancias.each do |sustancia| %>
        <tr>
          <td><%= sustancia.id2 %>&nbsp;&nbsp;<%= sustancia.name %></td>
        </tr>
      <% end %>
      <% @consumables.each do |consumable| %>
        <tr>
          <td><%= consumable.id2 %>&nbsp;&nbsp;<%= consumable.name %></td>
        </tr>
      <% end %>
      <% @equipments.each do |equipment| %>
        <tr>
          <td><%= equipment.id2 %>&nbsp;&nbsp;<%= equipment.name %></td>
        </tr>
      <% end %>
      <% @tools.each do |tool| %>
        <tr>
          <td><%= tool.id2 %>&nbsp;&nbsp;<%= tool.name %></td>
        </tr>
      <% end %>
      <% @instruments.each do |instrument| %>
        <tr>
          <td><%= instrument.id2 %>&nbsp;&nbsp;<%= instrument.name %></td>
        </tr>
      <% end %>
    </table>

    <p>Gracias.</p>
  </body>
</html>