<%= render 'menu' %>
<div style="text-align: right; height: 45px; margin-top: 12px;">
    <% if session['specification_p7'] != 2 %>
    <% if current_user.acquisition? || current_user.acquisition_analist? || current_user.import? || current_user.import_analist? %>
   <%= link_to '<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar </button>'.html_safe, edit_devolution_path(@devolution) %>
   <%= link_to '<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar </button>'.html_safe, @devolution,method: :delete,
       data: { confirm: '¿Está seguro que desea eliminar la nota de devolucion?' } %>
  
    <% end %><% else %>Ya no puede editar porque se generó la solicitud. <%= link_to '<button type="button" class="btn btn-primary"> Volver </button>'.html_safe, devolutions_url %><% end %>
 <a href="/devolutions/<%= @devolution.id %>.pdf"><button type="button" class="btn btn-primary">Descargar</button></a>
</div>

<div class="col-xs-12" style="margin-top:50px;">

  <table id="actTable" class="table table-striped">
   <tr>
				<th class="active text-center" colspan="2"><h2>Nota de Devolución</h2></th>
			</tr>

         <tr>
           <td class="col-xs-5 text-right">Número de Registro</td>
           <td class="col-xs-7"><%= @devolution.id %></td>
         </tr>
         <% if @devolution.requisicion == true %>
             <tr>
               <td class="col-xs-5 text-right">Requisición</td>
               <td class="col-xs-7"><%= @devolution.numRequisicion %></td>
             </tr>
         <% end %>
         <% if @devolution.autorizacion == true %>
             <tr>
               <td class="col-xs-5 text-right">Autorización</td>
               <td class="col-xs-7"><%= @devolution.numAutorizacion %></td>
             </tr>
         <% end %>
         <% if @devolution.certificacion == true %>
             <tr>
               <td class="col-xs-5 text-right">Certificación</td>
               <td class="col-xs-7"><%= @devolution.numCertificacion %></td>
             </tr>
         <% end %>
         <% if @devolution.solicitud == true %>
             <tr>
               <td class="col-xs-5 text-right">Solicitud de Servicio</td>
               <td class="col-xs-7"><%= @devolution.numSolicitud %></td>
             </tr>
         <% end %>
         <% if @devolution.informe == true %>
             <tr>
               <td class="col-xs-5 text-right">Informe de Recepción</td>
               <td class="col-xs-7"><%= @devolution.numInforme %></td>
             </tr>
         <% end %>
         <% if @devolution.otro == true %>
             <tr>
               <td class="col-xs-5 text-right">Requisición</td>
               <td class="col-xs-7"><%= @devolution.numOtro %></td>
             </tr>
         <% end %>
         <tr>
           <td class="col-xs-5 text-right">Unidad solicitante</td>
           <td class="col-xs-7"><%= @devolution.unidadSolicitante %></td>
         </tr>
         <tr>
           <td  class="col-xs-5 text-right">Causa(s) de la devolución</td>
           <td  class="col-xs-7">

	<% if @devolution.disponibilidad == true %>            
               Disponibilidad presupuestaria insuficiente.           
         <% end %>
	
	<% if @devolution.idioma == true %>
  		 Registro en idioma distinto al español.
         <% end %>

	<% if @devolution.discriminado == true %>
  		Registro no discriminado por ítems.  
         <% end %>

         <% if @devolution.firma == true %>
 		Registro sin la firma y/o sello de la Unidad Responsable.

         <% end %>

	 <% if @devolution.contacto == true %>
		Falta contrato Fonacit.
         <% end %>
	
	 <% if @devolution.copia == true %>
		 Falta Copia del Acta del Consejo Directivo que autorice la Contratación Pública.
         <% end %>

	  <% if @devolution.factura == true %>
              Falta factura, proforma o cotización a nombre de la USB, indicando  la condición de entrega.
         <% end %>
         <% if @devolution.foto == true %>
   		Falta foto referencial del material y/o equipo solicitado.
         <% end %>


		</td>


         <% if @devolution.carencia == true %>
             <tr>
               <td class="col-xs-5 text-right">Carencia de información indispensable del proveedor del bien o servicio:</td>
               <td class="col-xs-7">
                   <% if @devolution.nombre == true %>
                        <%= "Nombre" %><br>
                   <% end %>
                   <% if @devolution.direccion == true %>
                        <%= "Dirección Fiscal" %><br>
                   <% end %>
                   <% if @devolution.datos == true %>
                        <%= "Datos Bancarios" %><br>
                   <% end %>
                   <% if @devolution.rif == true %>
                        <%= "RIF" %><br>
                   <% end %>
                   <% if @devolution.telefonos == true %>
                        <%= "Teléfonos" %><br>
                   <% end %>
                   <% if @devolution.persona == true %>
                        <%= "Persona Contacto" %><br>
                   <% end %>
                   <% if @devolution.otroCarencia == true %>
                        <%= "Otro" %>
                   <% end %>
               </td>
             </tr>
         <% end %>
 
         <tr>
           <td class="col-xs-5 text-right">Observaciones</td>
           <td class="col-xs-7"><%= @devolution.observaciones %></td>
         </tr>
    
   </table>
  </div>




<style>



#devolutionTable th, td, tr{
  border-color:#7A7070;
  font-size: 14px;
  
}

#devolutionTable th {
background-color: #F2F8F7;
vertical-align: middle;

}


.table-bordered {

  border-color:#7A7070;
  border-bottom: #7A7070;

}

.table-bordered>tbody>tr>td {

  border-color:#7A7070;
  background-color: #F2F8F7;
  border-bottom: #7A7070;

}


#devolutionTable td:nth-child(even) {

border-color:#7A7070;


}

</style>
